body {
    background-color: #181825;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
}

#title {
    font-size: 30px;
    color: #c6d0f5;
    font-family: Tahoma, sans-serif;
    font-weight: 300;
    font-weight: bold;
}

h1 {
    color: rgb(255, 255, 0);
}

h2 {
    font-size: 27px;
    color: #f9c69a;
}

table {
    width: 265px;
    border: 5px solid #e5c890;
    border-collapse: separate;
}

td,
th {
    width: 75px;
    height: 40px;
    border: 1px solid#81c8be;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
}

.orange-border {
    border: 1px solid#d8c59e;
    padding: 2px;
}

.bordered {
    border-radius: 3px;
}

#assign_button {
    background-color: #babbf1;
    border-radius: 10px;
    font-size: 20px;
    border-color: #ffffff;
    border-width: 5px;
    color: #303446;
}

#assign_button:hover {
    cursor: pointer;
}

.btn {
    background-color: #babbf1;
    border-radius: 10px;
    font-size: 20px;
    border-color: #ffffff;
    border-width: 5px;
    color: #303446;
}

.btn:hover {
    cursor: pointer;
}

#text {
    color: rgb(235, 96, 96);
    font-size: 30px;
}

#modal_text {
    color: #06104a;
    font-size: 20px;
}

.sumbitbtn {
    background-color: rgb(149, 206, 239);
    border-radius: 10px;
    font-size: 15px;
    border-color: #ffffff;
    border-width: 5px;
    color: #0f2363;
}

#time {
    right: 30px;
}

.information {
    position: fixed;
    top: 20px;
    font-variant: small-caps;
    color: #f2d5cf;
    font-size:1.75vw;
}

#period {
    left: 30px;
}

#title2 {
    font-size: 25px;
    color: #858ca4;
    font-family: Tahoma, sans-serif;
    font-weight: 250;
}