body {
    background-color: #181825;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
}

#title {
    font-size: 30px;
    color: #c6d0f5;
    font-family: Tahoma, sans-serif;
    font-weight: 300;
    font-weight: bold;
}

h1 {
    color: rgb(255, 255, 0);
}

h2{
    font-size:27px;
    color: #f9c69a;
}

table {
    width: 265px;
    border: 5px solid #e5c890;
    border-collapse: separate;
}

td,
th {
    width: 80px;
    height: 70px;
    border: 1px solid#81c8be;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
}

.orange-border {
    border: 1px solid#d8c59e;
    padding: 2px;
}

.bordered {
    border-radius: 3px;
}

#time {
    right: 30px;
}

.information {
    position: fixed;
    top: 20px;
    font-variant: small-caps;
    color: #f2d5cf;
    font-size:1.75vw;
}

#period {
    left: 30px;
}

.btn {
    background-color: #babbf1;
    border-radius: 10px;
    font-size: 20px;
    border-color: #ffffff;
    border-width: 5px;
    color: #303446;
}

.btn:hover {
    cursor: pointer;
}