body {
    background-color: #232634;
    color: #ffffff;
 
    font-family: Tahoma, sans-serif;
    }

#title{
    font-size: 40px;
    color: #c6d0f5;
    font-family: Tahoma, sans-serif;
    font-weight: 300;
    font-weight: bold;

}

h1 {
    color: rgb(255, 255, 0); /* Change the heading color to yellow */
    }

table {
    width: 265px;
    border: 5px solid #e5c890;
    border-collapse:separate;
    }

td, th {
    width: 150px;
    height: 70px;
    border: 1px solid#81c8be;
    border-radius: 2px; /* Rounded corners */
    text-align: center; /* Center the text within the cells */
    padding: 2px;
    }

.orange-border {
    border: 1px solid#d8c59e;
    padding: 2px;
    }

.bordered {
    border-radius: 3px;
}

#assign_button{
    background-color: #babbf1;
    border-radius: 10px;
    font-size: 20px;
    border-color: #ffffff;
    border-width:5px;
    color: #303446;
}

#assign_button:hover{
    cursor:pointer;
}
#text{
    color: red;
    font-size: 30px;


}
#modal_text{
    color: #000000;
    font-size: 20px;

}
.sumbitbtn{
    background-color: black;
    border-radius: 10px;
    font-size: 15px;
    border-color: #ffffff;
    border-width:5px;
    color: #eeff00;
}
#time{
    margin-left: 1000px;
    margin-top: -65px;
}
.information{
    position: absolute;
    font-variant: small-caps;
    color: #f2d5cf;
    font-size: 30px;
}
#period{
    margin-top: -65px;
    margin-left: 300px;
}