

HTML
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="/static/assign_home_style.css"> 
    <title>ASSIGN</title>   

</head>
<body>
    <center><font size=200px><h1>ASSIGN</h1></font></center>

    <center>
        <table>
            <tr>
                <th>Name</th>
                <th>Period</th>
                <th>Class</th>
            </tr>
            <tr class="orange-border">
                <td>[NAME 1]</td>
                <th>I</th>
                <td>5H</td>
            </tr>
            <tr>
                <td>[NAME 2]</td>
                <th>III</th>
                <td>3H</td>
            </tr>
            <tr>
                <td>[NAME 3]</td>
                <th>V</th>
                <td>7I</td>
            </tr>
            <tr>
                <td>[NAME 4]</td>
                <th>VIII</th>
                <td>9C</td>
            </tr>
            <tr>
                <td>[NAME 5]</td>
                <th>IX</th>
                <td>8H</td>
            </tr>
        </table>
    </center>
</body>
</html>
